# Challenge 1 - The Working Directory

Set your working directory to the Data folder in your DIGHUM101-2020 course materials

In [1]:
import os

In [2]:
# First, view the file path to your current working directory:
# %pwd
os.getcwd()

'/Users/evan.admin/Desktop/DIGHUM101-2020/Notebooks/Challenges/Solutions/Week2'

In [3]:
# Go "up" four levels in your file structure and into the Data folder:
os.chdir("../../../../Data")
os.getcwd()

'/Users/evan.admin/Desktop/DIGHUM101-2020/Data'

In [4]:
# List the files in this working directory
%ls

childrens_lit.csv             feminism.xml
compound_figure.pdf           frankenstein.txt
correspondence-data-1585.csv  gapminder-FiveYearData.csv
example.json                  human-rights/
example.xml                   iris.csv
feminism.json                 music_reviews.csv

# Challenge 2: Pandas - Import .csv File

Import the music_reviews.csv file and save it in a variable named music. Use the head method to show the first twelve rows. 

> HINT: remember this is a TAB separated .csv file, so you have to add a second argument to tell Python that the file is tab-delineated (not comma delineated).

In [5]:
import pandas as pd

In [6]:
music = pd.read_csv("music_reviews.csv", sep = "\t")
music.head(12)

,album,artist,genre,release_date,critic,score,body
0,Don't Panic,All Time Low,Pop/Rock,2012-10-09 00:00:00,Kerrang!,74.0,While For Baltimore proves they can still writ...
1,Fear and Saturday Night,Ryan Bingham,Country,2015-01-20 00:00:00,Uncut,70.0,There's nothing fake about the purgatorial nar...
2,The Way I'm Livin',Lee Ann Womack,Country,2014-09-23 00:00:00,Q Magazine,84.0,All life's disastrous lows are here on a caree...
3,Doris,Earl Sweatshirt,Rap,2013-08-20 00:00:00,Pitchfork,82.0,"With Doris, Odd Future’s Odysseus is finally b..."
4,Giraffe,Echoboy,Rock,2003-02-25 00:00:00,AllMusic,71.0,Though Giraffe is definitely Echoboy's most im...
5,Weathervanes,Freelance Whales,Indie,2010-04-13 00:00:00,Q Magazine,68.0,Fans of Owl City and The Postal Service will r...
6,Build a Rocket Boys!,Elbow,Pop/Rock,2011-04-12 00:00:00,Delusions of Adequacy,82.0,"Whereas previous Elbow records set a mood, Bui..."
7,Ambivalence Avenue,Bibio,Indie,2009-06-23 00:00:00,Q Magazine,78.0,His remarkable Warp debut follows a series of ...
8,Wavvves,Wavves,Indie,2009-03-17 00:00:00,PopMatters,68.0,"There’s an energy coursing through this, and r..."
9,Peachtree Road,Elton John,Rock,2004-11-09 00:00:00,MelD.,70.0,Classic. Songs filled with soul. Lyrics refres...
10,Heritage,College,Electronic,2013-09-17 00:00:00,musicOMH.com,63.0,It’s by no means perfect and it does feel slig...
11,White Chalk,PJ Harvey,Rock,2007-09-25 00:00:00,Paste Magazine,80.0,"Put in context, White Chalk serves her purpose..."

# Challenge 3: `.describe()`

Use the .describe() method to find the average review score for all albums in this dataset.

In [7]:
# 72.68
music.describe()

             score
count  5001.000000
mean     72.684223
std       8.714896
min       7.400000
25%      68.000000
50%      74.000000
75%      79.000000
max     100.000000

# Challenge 4: Rename Column Names

Recall how to print the columns of a data frame. It looks like a method but without the trailing round parentheses is called an attribute!

In [8]:
music.columns

Index(['album', 'artist', 'genre', 'release_date', 'critic', 'score', 'body'], dtype='object')

Rename the "album" column name to "ALBUM" and the "body" column name to "Body". What data structure can you use to do so?

In [9]:
# Dictionary! 
music.rename(columns = {"album":"ALBUM", 
                        "body":"Body"}, 
             inplace = True)
music.columns

Index(['ALBUM', 'artist', 'genre', 'release_date', 'critic', 'score', 'Body'], dtype='object')

# Challenge 5: Slice It! 

Slice music to return just the 3rd, 4th, and 5th reviews. Save this in a variable named music_subset

> HINT: will the 3rd, 4th, and 5th rows or columns be returned?

In [10]:
music_subset = music[2:5]
music_subset

,ALBUM,artist,genre,release_date,critic,score,Body
2,The Way I'm Livin',Lee Ann Womack,Country,2014-09-23 00:00:00,Q Magazine,84.0,All life's disastrous lows are here on a caree...
3,Doris,Earl Sweatshirt,Rap,2013-08-20 00:00:00,Pitchfork,82.0,"With Doris, Odd Future’s Odysseus is finally b..."
4,Giraffe,Echoboy,Rock,2003-02-25 00:00:00,AllMusic,71.0,Though Giraffe is definitely Echoboy's most im...

# Challenge 6: `iloc`

Use `.iloc` to return just the 1st, 82nd, 988th, 2561st, 4002nd, and and last review in a variable named music2

In [11]:
music.shape

(5001, 7)

In [12]:
music2 = music.iloc[[0, 81, 987, 2560, 4001, 5000]]
music2

,ALBUM,artist,genre,release_date,critic,score,Body
0,Don't Panic,All Time Low,Pop/Rock,2012-10-09 00:00:00,Kerrang!,74.0,While For Baltimore proves they can still writ...
81,The Music,The Music,Indie,2003-02-25 00:00:00,Spin,58.0,What's most British about the Music is their t...
987,Inni [Live],Sigur Rós,Pop/Rock,2011-11-15 00:00:00,williamplong,78.0,Emotional and brilliant! This live production ...
2560,Now,Maxwell,Pop,2001-08-14 00:00:00,Sonicnet,78.0,"Now is Maxwell's best album, because he's lear..."
4001,Into The Blue Again,The Album Leaf,Indie,2006-09-12 00:00:00,Playlouder,67.0,"A lesson in understatement, 'Into The Blue Aga..."
5000,And Their Refinement Of The Decline,Stars Of The Lid,Rock,2007-04-07 00:00:00,PopMatters,87.0,"Their work, especially that displayed on Refin..."

# Challenge 7: `iloc` Slice and Stride

Use `.iloc` to return every 40th album between reviews 20 and 200 and save this subset in a variable named music3

In [13]:
music3 = music.iloc[9:199:40]
music3

,ALBUM,artist,genre,release_date,critic,score,Body
9,Peachtree Road,Elton John,Rock,2004-11-09 00:00:00,MelD.,70.0,Classic. Songs filled with soul. Lyrics refres...
49,From A Basement On The Hill,Elliott Smith,Indie,2004-10-19 00:00:00,Billboard,88.0,Smith bundles subtlety and ferocity to create ...
89,Food,Kelis,R&B;,2014-04-22 00:00:00,AllMusic,77.0,While it remains almost impossible to dissocia...
129,Wu-Massacre,Meth-Ghost-Rae,Rap,2010-03-30 00:00:00,cokemachineglow,73.0,"Cuban Linx 2 was a glorious mess, but Wu-Massa..."
169,St. Vincent,St. Vincent,Pop/Rock,2014-02-25 00:00:00,American Songwriter,89.0,St. Vincent is an overwhelming listen the firs...

# Challenge 8: `iloc` Rows and Columns

Use `iloc` to extract the last five rows in the music data set but only the "artist", "ALBUM", and "score" columns - in that order!

> HINT: How do `iloc` and `loc` differ?

In [14]:
music.iloc[:5, [1, 0, 5]]

            artist                    ALBUM  score
0     All Time Low              Don't Panic   74.0
1     Ryan Bingham  Fear and Saturday Night   70.0
2   Lee Ann Womack       The Way I'm Livin'   84.0
3  Earl Sweatshirt                    Doris   82.0
4          Echoboy                  Giraffe   71.0

# Challenge 9: `.loc` Rows and Columns 

Use `loc` to extract the first 5 rows in the music data set but only the "artist", "ALBUM", and "score" columns - in that order!

In [15]:
# Uh-oh! What happened?
music.loc[:5, ["artist", "ALBUM", "score"]]

             artist                    ALBUM  score
0      All Time Low              Don't Panic   74.0
1      Ryan Bingham  Fear and Saturday Night   70.0
2    Lee Ann Womack       The Way I'm Livin'   84.0
3   Earl Sweatshirt                    Doris   82.0
4           Echoboy                  Giraffe   71.0
5  Freelance Whales             Weathervanes   68.0

In [16]:
music.loc[:4, ["artist", "ALBUM", "score"]]

            artist                    ALBUM  score
0     All Time Low              Don't Panic   74.0
1     Ryan Bingham  Fear and Saturday Night   70.0
2   Lee Ann Womack       The Way I'm Livin'   84.0
3  Earl Sweatshirt                    Doris   82.0
4          Echoboy                  Giraffe   71.0

# Challenge 10: Create New Column

Create a new column in music3 named "score_int" that is a copy of "score" - but converted to an integer.

In [17]:
music3["score_int"] = music3["score"].astype(int)
music3

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,ALBUM,artist,genre,release_date,critic,score,Body,score_int
9,Peachtree Road,Elton John,Rock,2004-11-09 00:00:00,MelD.,70.0,Classic. Songs filled with soul. Lyrics refres...,70
49,From A Basement On The Hill,Elliott Smith,Indie,2004-10-19 00:00:00,Billboard,88.0,Smith bundles subtlety and ferocity to create ...,88
89,Food,Kelis,R&B;,2014-04-22 00:00:00,AllMusic,77.0,While it remains almost impossible to dissocia...,77
129,Wu-Massacre,Meth-Ghost-Rae,Rap,2010-03-30 00:00:00,cokemachineglow,73.0,"Cuban Linx 2 was a glorious mess, but Wu-Massa...",73
169,St. Vincent,St. Vincent,Pop/Rock,2014-02-25 00:00:00,American Songwriter,89.0,St. Vincent is an overwhelming listen the firs...,89

# Challenge 11: Create New Column with Calculation

Create a new column named "decimal" that is a copy of "score_int" but that is divided by 100 and rounded to two decimal places.

In [18]:
music3["decimal"] = (music3["score_int"] / 100).round(2).astype(float)
music3

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,ALBUM,artist,genre,release_date,critic,score,Body,score_int,decimal
9,Peachtree Road,Elton John,Rock,2004-11-09 00:00:00,MelD.,70.0,Classic. Songs filled with soul. Lyrics refres...,70,0.70
49,From A Basement On The Hill,Elliott Smith,Indie,2004-10-19 00:00:00,Billboard,88.0,Smith bundles subtlety and ferocity to create ...,88,0.88
89,Food,Kelis,R&B;,2014-04-22 00:00:00,AllMusic,77.0,While it remains almost impossible to dissocia...,77,0.77
129,Wu-Massacre,Meth-Ghost-Rae,Rap,2010-03-30 00:00:00,cokemachineglow,73.0,"Cuban Linx 2 was a glorious mess, but Wu-Massa...",73,0.73
169,St. Vincent,St. Vincent,Pop/Rock,2014-02-25 00:00:00,American Songwriter,89.0,St. Vincent is an overwhelming listen the firs...,89,0.89

# Challenge 12: Reorder Columns

Reorder the columns of music3 in this order: critic, genre, artist, ALBUM, score, score_int, decimal, Body, release_date

In [19]:
music3 = music3[["critic", "genre", "artist", "ALBUM", "score", "score_int", "decimal", "Body", "release_date"]]
music3

,critic,genre,artist,ALBUM,score,score_int,decimal,Body,release_date
9,MelD.,Rock,Elton John,Peachtree Road,70.0,70,0.70,Classic. Songs filled with soul. Lyrics refres...,2004-11-09 00:00:00
49,Billboard,Indie,Elliott Smith,From A Basement On The Hill,88.0,88,0.88,Smith bundles subtlety and ferocity to create ...,2004-10-19 00:00:00
89,AllMusic,R&B;,Kelis,Food,77.0,77,0.77,While it remains almost impossible to dissocia...,2014-04-22 00:00:00
129,cokemachineglow,Rap,Meth-Ghost-Rae,Wu-Massacre,73.0,73,0.73,"Cuban Linx 2 was a glorious mess, but Wu-Massa...",2010-03-30 00:00:00
169,American Songwriter,Pop/Rock,St. Vincent,St. Vincent,89.0,89,0.89,St. Vincent is an overwhelming listen the firs...,2014-02-25 00:00:00

# Challenge 13: `.value_counts()`

Use `.value_counts()` to sum the total number of reviews for each critic. Return only the top 20.

In [20]:
music["critic"].value_counts()[:20]

AllMusic                     282
PopMatters                   228
Pitchfork                    207
Q Magazine                   178
Uncut                        171
Mojo                         137
Drowned In Sound             132
New Musical Express (NME)    127
The A.V. Club                121
Rolling Stone                112
Under The Radar              100
Spin                          97
The Guardian                  96
musicOMH.com                  88
Entertainment Weekly          87
Slant Magazine                83
Paste Magazine                72
Alternative Press             69
Consequence of Sound          69
Prefix Magazine               68
Name: critic, dtype: int64

# Challenge 14: Import .csv file from a URL

You can also import data from web addresses. Import the file found at this URL and save it in a variable named countries: https://raw.githubusercontent.com/dlab-berkeley/introduction-to-pandas/master/data/countries.csv

Use `.value_counts()` to state how many of these countries are EU versus non-EU; save this as a DataFrame named summary

In [21]:
countries = pd.read_csv(
    'https://raw.githubusercontent.com/dlab-berkeley/introduction-to-pandas/master/data/countries.csv', 
    encoding = "utf-8")

countries.head()

,country,google_country_code,country_group,name_en,name_fr,name_de,latitude,longitude
0,at,AT,eu,Austria,Autriche,Österreich,47.696554,13.345980
1,be,BE,eu,Belgium,Belgique,Belgien,50.501045,4.476674
2,bg,BG,eu,Bulgaria,Bulgarie,Bulgarien,42.725674,25.482322
3,hr,HR,non-eu,Croatia,Croatie,Kroatien,44.746643,15.340844
4,cy,CY,eu,Cyprus,Chypre,Zypern,35.129141,33.428682

Use .value_counts() to show how many EU versus non-EU countries are in this dataset:

In [22]:
# 27 EU; 3 non-EU
summary = pd.DataFrame(countries["country_group"].value_counts())
summary

        country_group
eu                 27
non-eu              3